@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

*{
  font-family: 'RobotoMono', 'monospace';
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 8%, #FFFB7D 87%);
  
}