:root {
    --bg-dark: #1a2f3a;
    
    --logo-height: 100px;
    --header-height: 100px;
    --aside-height: 225px;
    --footer-height: 40px;

    --shadow:
        0 2px 23px 0 rgba(0,0,0,0.1),
        0 2px 49px 0 rgba(0,0,0,0.06);
}

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}